In [97]:
import pandas as pd
import numpy as np
pd.__version__

'1.3.4'

In [98]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

In [99]:
mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))
ser = pd.Series(mydict)

df= ser.to_frame().reset_index()
print(df.head())

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4

In [100]:
ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

df= pd.DataFrame({'col1':ser1,'col2':ser2})

df.head()

  col1  col2
0    a     0
1    b     1
2    c     2
3    e     3
4    d     4

In [102]:
ser = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser.name = 'alphabets'
ser.head()

0    a
1    b
2    c
3    e
4    d
Name: alphabets, dtype: object

In [103]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

print(ser1[~ser1.isin(ser2)])

0    1
1    2
2    3
dtype: int64

In [104]:
ser1 = pd.Series([1, 2, 3, 4, 5])
ser2 = pd.Series([4, 5, 6, 7, 8])

ser_u = pd.Series(np.union1d(ser1, ser2))  # union
ser_i = pd.Series(np.intersect1d(ser1, ser2))  # intersect
ser_u[~ser_u.isin(ser_i)]

0    1
1    2
2    3
5    6
6    7
7    8
dtype: int64

In [105]:
ser = pd.Series(np.random.normal(10, 5, 25))
np.min(ser)

np.median(ser)
np.max(ser)
np.percentile(ser,[0,25,50,75,100])

array([ 2.57009278,  5.50394921, 11.42469061, 13.25690207, 23.87515313])

In [106]:
ser = pd.Series(np.take(list('abcdefgh'), np.random.randint(8, size=30)))

ser.value_counts()

c    6
f    6
a    6
d    5
e    3
h    2
g    1
b    1
dtype: int64

In [107]:
np.random.RandomState(100)
ser = pd.Series(np.random.randint(1, 5, [12]))

f= ser.value_counts()
f[2:]= 'other'
f

2        5
4        4
3    other
1    other
dtype: object

In [108]:
ser = pd.Series(np.random.random(20))

pd.qcut(ser,q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th']).head()

0    7th
1    9th
2    1st
3    2nd
4    8th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']

In [109]:
ser = pd.Series(np.random.randint(1, 10, 35))
df= pd.DataFrame(ser.values.reshape((7,5)))
df

   0  1  2  3  4
0  4  8  1  6  6
1  1  7  4  7  4
2  5  1  9  6  4
3  6  6  3  7  9
4  2  2  1  9  7
5  6  4  1  5  1
6  5  2  6  5  4

In [112]:
ser = pd.Series(np.random.randint(1, 10, 7))

#np.argwhere(ser % 3==0)

In [116]:
ser = pd.Series(list('abcdefghijklmnopqrstuvwxyz'))
pos = [0, 4, 8, 14, 20]

ser.take(pos)

0     a
4     e
8     i
14    o
20    u
dtype: object

In [122]:
ser1 = pd.Series(range(5))
ser2 = pd.Series(list('abcde'))

pd.concat((ser1,ser2),axis=0)
pd.concat((ser1,ser2),axis=1)

   0  1
0  0  a
1  1  b
2  2  c
3  3  d
4  4  e

In [128]:
ser1 = pd.Series([10, 9, 6, 5, 3, 1, 12, 8, 13])
ser2 = pd.Series([1, 3, 10, 13])

[pd.Index(ser1).get_loc(i) for i in ser2]

[5, 4, 0, 8]

In [130]:
truth = pd.Series(range(10))
pred = pd.Series(range(10)) + np.random.random(10)

(np.mean(truth-pred)**2)

0.16572089133704831

In [134]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])
ser.map(lambda x: x.title())

0     How
1      To
2    Kick
3    Ass?
dtype: object

In [135]:
ser = pd.Series(['how', 'to', 'kick', 'ass?'])

ser.map(lambda x: len(x))

0    3
1    2
2    4
3    4
dtype: int64

In [137]:
ser = pd.Series([1, 3, 6, 10, 15, 21, 27, 35])
print(ser.diff().tolist())

[nan, 2.0, 3.0, 4.0, 5.0, 6.0, 6.0, 8.0]

In [139]:
pd.to_datetime(ser)

0   1970-01-01 00:00:00.000000001
1   1970-01-01 00:00:00.000000003
2   1970-01-01 00:00:00.000000006
3   1970-01-01 00:00:00.000000010
4   1970-01-01 00:00:00.000000015
5   1970-01-01 00:00:00.000000021
6   1970-01-01 00:00:00.000000027
7   1970-01-01 00:00:00.000000035
dtype: datetime64[ns]